@media only screen and (max-width: 640px) {
    div.navbar-desktop { display: none;}
    div.trust {display: none}
    div.data {display: none}
    div.phone {margin-top: 300px; width:100px;height: 200px; background-size: 50%; align-items: center;}
    div.img {display: none;}
    h2.quantify-text {margin-top: 0; text-wrap: wrap;}
    div {text-wrap: wrap; max-width: 640px;}
    img {display: none}
    h1.section-title {font-size: 30px;}
    h1.call-to-action {font-size: 30px;}
    div.content {max-width: 640px;}
    p.in-roi-text {margin-left:5%; font-size: 20px;}
    input.in-roi-qa {font-size: 10px;}
    h2.gradient-text {margin-left: -10px; text-wrap: nowrap; font-size: 25px;}
    button.cen-button {margin-left: 0;}
    input.in-roi-qa {width: 135px}
    div.basic-rankings {width: 325px; transform:translateX(-42px); font-size: 15px;}
}
@media (width > 640px) {
    div.tab {display:none}
    div.content {max-width: none;}
}

.tab {
    float: left;
    position: relative;
  }
  
  .tab label {
    width: 20px;
    height: 40px;
    background: rgb(0, 110, 255);
    padding: 10px 30px;
    cursor: pointer;
    text-align: center;
    display: block;
    position: relative;
    border-radius: 20px;
  }
  
  .tab label i {
    align-items: center;
    justify-self: center;
    font-style: normal;
    font-size: 45px;
    color: #ffffff;
    position: absolute;
    right: 18px;
    top: 12px;
  }
  
  .tab [type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    opacity: 0;
    margin: 0;
    z-index: 1;
  }
  
  .content {
    position: absolute;
    top: 100%;
    opacity: 0;
    left: 0;
    background: #97c7ff;
    color: white;
    padding: 20px;
  }
  
  .content ul {
    width: 130px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
  }
  
  .content a {
    color: white;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    border-bottom: 1px solid #999;
    padding: 5px;
  }
  
  [type="radio"]:checked ~ label {
    z-index: 2;
  }
  
  [type="radio"]:checked ~ label ~ .content {
    z-index: 1;
    opacity: 1;
  }
  
  .close-tab {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .close-tab label {
    background: #498fff;
    color: white;
  }
  
  [type="radio"]:checked ~ label ~ .close-tab {
    z-index: 3;
  }
  

body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
  }

.cover {
    background-color:white;
    background-size: cover;
    overflow: hidden;
}

.navbar-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: large;
}

.nav-container {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.navbar-desktop a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.navbar-desktop nav ul {
    list-style: none;
    display: flex;
}

.navbar-desktop nav ul li {
    margin-right: 10px;
}

.navbar-desktop nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navbar-desktop nav ul li a:hover {
    color: rgba(0, 50, 175, 0.348);
}
.gradient-text {
    background-image: linear-gradient(to right, #ff0000, #fc9343);
    background-clip: text;
    color: transparent;
  }

.cols-dir {
    margin-top: 10%;
    flex-direction: column;
    background-color: #f4f4f4;
}

.cen {
    margin-left: 30%;
    font-size: 30px;
}

.basic-rankings {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    width: 50%;
    align-items: center;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.in-roi-qa {
    padding: 8px;
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-button {
    padding: 10px 20px;
    background-color: #003386;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #0056b3;
}

.unis {
    list-style-type: decimal;
    padding-left: 20px;
    margin-top: 10px;
}

.unis li {
    margin-bottom: 5px;
}

.unis li a {
    text-decoration: none;
    color: #003386;
    transition: color 0.3s;
}

.unis li a:hover {
    color: #0056b3;
}

.cen-button {
    margin-top: 2%;
    margin-left: 30%;
    font-size: 20px;
    border-width: 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    color: rgb(0, 110, 255);
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.move {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.cen-button:hover {
    color:#003386;
}

.cen-button:hover .move {
    transform: translateX(5px);
}

.in-roi {
    margin-top: 10%;
    justify-content: space-around;
    position: absolute;
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 80%;
    height: 125px;
    border-radius: 30px;
    background-color: rgb(42, 149, 255);
}

.in-roi-img {
    background-image: url("./images/roioncollege.png");

}

.in-roi-text {
    font-size:30px;
}

.in-roi-qa {
    margin-right: 5%;
    align-items: center;
    border-radius: 50px;
    width: 40%;
    height: 65px;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.contact-button,
.signin-button {
    padding: 8px 16px;
    border: none;
    background-color: #ffffff;
    color: rgb(44, 182, 229);
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px;
    margin-right:30px;
    font-family: 'Exo 2';
    font-weight: bold;
}

.contact-button:hover,
.signin-button:hover {
    background-color: #003386;
}
.signup-button {
    background-color: #003386;
    color: white;
}
.signup-button:hover {
    background-color: #5797ff;
    color: white;
}

.quantify-text {
    margin-left: 17%;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
}

.typewriter-1 {
    color: black;
    display: inline-block;
    opacity: 0;
    animation: typewriter 2s steps(20) 1s forwards, delete-typewriter 2s steps(20) 4s backwards;
}

.trust {
    margin-top: 10%;
    width: 80%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.trust-text {
    font-size: 20px;
    margin-bottom: 20%;
    display:flex;
}

.trust-logos {
    display: flex;
    margin-right:1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.trust i {
    margin-left:90%;
    transform: scale(500%);
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes delete-typewriter {
    from {
        width: 100%;
    }
    to {
        width: 0;
        opacity: 0;
    }
}

.typewriter:not(:first-child) {
    display: none;
}

.phone {
    position: absolute;
    
    width: 275px;
    height: 525px;
    border-radius: 30px;
    background-color: white;
    position: relative;
    border: 4px solid #ccc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background-image: url("./images/roioncollege.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    right: -14%;
  }

  .data {
    width: 225%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.1);
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background-image: url("./images/fun.png");
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
    z-index: -1;

    top: -15%;
    right: -20%;

  }

.call-to-action {
    font-size: 75px;
}

.section-title {
    font-size: 60px;
}

.logo-text {
    font-size: 125%;
    font-weight:bolder;
}

.logo-text:hover {
    color:#0056b3;
}

.gradient-container {
    flex: 1;
    position: relative;
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center;
    z-index: 0;
    margin-bottom: 1%;
}

.white-background {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top left, white 50%, transparent 50%);
    z-index: -1;
}
.white-background-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: white;
    z-index: -1;
}

.cols-container {
    display: flex;
    padding: 0% 5% 5% 20%;
}

.rankings {
    width: 150px;
    height: 80px;
    border-radius: 40px;
}

.col {
    flex:1;
}

.animated-image {
    position: absolute;
    top: 50px;
    left: 50px;
    animation: moveImage 5s linear infinite;
}

@keyframes moveImage {
    0% {
        top: 50px;
        left: 50px;
    }
    50% {
        top: 200px;
        left: 200px;
    }
    100% {
        top: 50px;
        left: 50px;
    }
}
